.title {
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 5%;
}

.teams-list {
	margin-top: 5%;
}

.start-button {
	margin-top: 5%;
}
