.draw-button {
	margin-top: 5%;
	width: 50%;
	align-self: center;
}

.container {
	display: flex;
	flex-direction: column;
	margin-top: 5%;
}

.all-teams {
	display: flex;
	justify-content: space-around;
  border: 1px solid lightslategray;
  flex-wrap: wrap;
  margin: 0 5em;
  color: white;
}

.grouped-teams {
	display: flex;
	justify-content: center;
  flex-wrap: wrap;
  color: white;
}

.team-group {
  margin: 1em;
  max-width: 85%;
  text-align: center;
  padding: 0 2em;
}

