.draw-button {
	margin-top: 5%;
	width: 50%;
	align-self: center;
}

.container {
	display: flex;
	flex-direction: column;
	margin-top: 5%;
}

.all-teams {
	display: flex;
	justify-content: space-around;
  border: 1px solid black;
  flex-wrap: wrap;
  margin: 0 5em;
}

.grouped-teams {
	display: flex;
	justify-content: center;
  flex-wrap: wrap;
}

.team-group {
  margin: 1em;
}

