<div class="container">
	<div class="all-teams">
		<teams-group [teams]="teamsFirstHalf"></teams-group>
		<teams-group [teams]="teamsSecondHalf"></teams-group>
	</div>

	<button mat-flat-button color="primary" class="draw-button" (click)="drawNewTeamInGroup()"
		[disabled]="randomizedTeams.length === 0">
		Draw new Team
	</button>

	<div class="grouped-teams">
		<teams-group *ngFor="let group of groups" class="team-group"
                 [teams]="group.teams"
                 [groupName]="group.name"
                 [showBorder]="true"
                 [borderSize]="randomizedTeams.length === 0 ? '5' : '1'"
                 [borderColor]="randomizedTeams.length === 0 ? 'green' : 'lightgrey'">
    </teams-group>
	</div>
</div>
