.draw-button {
	margin-top: 5%;
	width: 50%;
	align-self: center;
}

.container {
	width: 400px;
	display: flex;
	flex-direction: column;
	margin-top: 5%;
}

.all-teams {
	display: flex;
	justify-content: space-around;
}

.grouped-teams {
	display: flex;
	justify-content: space-between;
}
