<div class="container">
	<teams-list class="teams-list"></teams-list>

	<form class="form">
		<mat-form-field class="input">
			<mat-label class="white-text-color">Enter new Player</mat-label>
			<input matInput placeholder="Ex. Ughinese Calcio..." name="new-team-name" class="white-text-color"
			       [(ngModel)]="newTeamName" (keyup.enter)="addTeam()" (focusout)="addTeam()">
		</mat-form-field>
	</form>

  <div class="select-box">
    <mat-form-field appearance="fill" class="centered-text">
      <mat-label>Groups</mat-label>
      <mat-select [(value)]="teamsListService.groupsNumber">
        <mat-option *ngFor="let groupNumber of [2, 3, 4, 5]" [value]="groupNumber" class="centered-text">
          {{ groupNumber }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

	<div matTooltip="You need at least two teams to proceed"
	     [matTooltipDisabled]="!isStartButtonDisabled()">
		<button class="start-button" mat-flat-button color="primary" (click)="startDrawing()"
			[disabled]="isStartButtonDisabled()">
			Start
		</button>
	</div>
</div>
