<div class="container">
	<teams-list class="teams-list"></teams-list>

	<form class="form">
		<mat-form-field class="input">
			<mat-label>Enter new Team</mat-label>
			<input matInput placeholder="Ex. Ughinese Calcio..." name="new-team-name"
			       [(ngModel)]="newTeamName" (keyup.enter)="addTeam()" (focusout)="addTeam()">
		</mat-form-field>
	</form>

	<div matTooltip="You need at least one team to proceed" class="buttons-container"
	     [matTooltipDisabled]="!isStartButtonDisabled()">
		<button class="start-button" mat-flat-button color="primary" (click)="startDrawing()"
			[disabled]="isStartButtonDisabled()">
			Start
		</button>
	</div>
</div>
