.start-button {
	display: block;
	margin-top: 5%;
	width: 50%;
}

.input {
	min-width: 300px;
  text-align: center;
	margin-top: 20px;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 5%;
}
